In [9]:
l = range (20)

In [10]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
sum = 0

In [13]:
for i in l:
    sum = sum + i

In [14]:
sum

190

In [22]:
cities = ["hyderabad","Delhi","SFO","Dallas", "Austin"]

In [23]:
len(cities)

5

In [24]:
city_range = range(len(cities))

In [25]:
city_range

range(0, 5)

In [33]:
for i in range(len(cities)):
    print("i like: {}".format([cities]))

i like: [['hyderabad', 'Delhi', 'SFO', 'Dallas', 'Austin']]
i like: [['hyderabad', 'Delhi', 'SFO', 'Dallas', 'Austin']]
i like: [['hyderabad', 'Delhi', 'SFO', 'Dallas', 'Austin']]
i like: [['hyderabad', 'Delhi', 'SFO', 'Dallas', 'Austin']]
i like: [['hyderabad', 'Delhi', 'SFO', 'Dallas', 'Austin']]

In [ ]:
my_list = range(100)

In [ ]:
add_list = []

In [ ]:
for i in my_list:
    add_list.append(i)

In [1]:
my_list = range(4)

In [2]:
mult_list =[]

In [3]:
for i in my_list:
    mult_list.append(i*i)

In [4]:
mult_list

[0, 1, 4, 9]

In [5]:
[i*i for i in my_list]

[0, 1, 4, 9]