In [59]:
my_list = range(100)

In [60]:
print(my_list)

range(0, 100)

In [23]:
even_list =[]

In [24]:
odd_list =[]

In [25]:
my_odd_even =[]

In [27]:
even_list, odd_list = my_odd_even(my_list)

TypeError: 'list' object is not callable

In [54]:
def my_odd_even(my_list):
    even_list = filter(lambda x: x%2 == 0, my_list)
    odd_list = filter(lambda x: x%2 != 0, my_list)
    return even_list, odd_list

In [57]:
even_list,odd_list = my_odd_even(my_list)

In [62]:
list(even_list)

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

# MAP

In [44]:
my_list1 = range(10)

In [45]:
for i in my_list1:
    print (i*2)

0
2
4
6
8
10
12
14
16
18

In [46]:
my_list2 = map(lambda x: x*2, my_list1)

In [47]:
print(list(my_list2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
for i in my_list1:
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [49]:
my_list3 = map(lambda x: x*x, my_list)

In [50]:
print(list(my_list3))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [51]:
def my_mult(x):
    return(x*x)

In [52]:
my_list4 = map(my_mult, my_list)

In [53]:
print(list(my_list4))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [65]:
x = lambda x: x*2

In [66]:
x (2)

4

In [67]:
x

In [68]:
def mult(x):
    return x*2

In [69]:
x(2)

4