## Defining a Function

In [1]:
def my_function():
    print("my function")

In [3]:
my_function()

my function

In [5]:
def even_odd(x):
    if (x%2 == 0):
        return "even"
    else:
        return "odd"

In [6]:
even_odd(2)

'even'

In [9]:
def even_odd(x):
    if (x%3 == 0):
        return "div by 3"
    elif (x%2 == 0):
        return "div by 2"
    else:
        return "other number"

In [10]:
even_odd(4)

'div by 2'

In [20]:
def x():
    if (x >= 0):
        return (x)
    else:
        return (-x)

In [22]:
x(1)

TypeError: x() takes 0 positional arguments but 1 was given

In [23]:
def mult(a,b,c):
    return (a*b*c)

In [24]:
mult(10,20,30)

6000

In [27]:
d = lambda x: x * 2  #inline or lambda
#map()
#filter(x => x * x)

In [28]:
d(2)

4

In [29]:
def mult_by_two(x):
    return x * 2
d = lambda x: x*2

In [30]:
mult_by_two(3)

6

In [35]:
d = lambda x: x*x

In [32]:
def my_square(x):
     return x *x
d = lambda x: x*x

In [34]:
my_square(3)

9

In [48]:
my_list = range(50)

In [49]:
even_list = []

In [50]:
for i in my_list:
    if(i%2 == 0):
        even_list.append(i)

In [51]:
print(my_list)

range(0, 50)

In [52]:
even_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [53]:
my_even_list2 = filter(lambda x: x%2 ==0, my_list)

In [54]:
list(my_even_list2)

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [55]:
my_odd_list2 = filter(lambda x: x%2 != 0, my_list)

In [57]:
list(my_odd_list2)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [59]:
div_4_v = filter(lambda x:x%4 ==0,my_list)

In [60]:
def div_4_v(x):
    return(x%4 == 0)
div_4_v = filter(lambda x:x%4 ==0,my_list)

In [61]:
list(div_4_v)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]