In [1]:
my_string = ["hi","Hello", "Python","Scala","big data"]

In [2]:
my_string[0]

'hi'

In [3]:
my_string[-1]

'big data'

In [4]:
my_string[1:4]

['Hello', 'Python', 'Scala']

In [5]:
my_string.append("spark")

In [6]:
my_string[5] = "flink"

In [7]:
my_string

['hi', 'Hello', 'Python', 'Scala', 'big data', 'flink']

In [10]:
my_tuple = ("hi","Hello", "Python","Scala","big data","Map reduce")

In [11]:
print(type(my_tuple))

<class 'tuple'>

In [12]:
my_tuple[0]

'hi'

In [13]:
my_tuple[-1]

'Map reduce'

In [14]:
my_tuple[4] = "hadoop"

TypeError: 'tuple' object does not support item assignment

In [15]:
# List is Mutable 
# tuple is immutable

In [16]:
my_tuple

('hi', 'Hello', 'Python', 'Scala', 'big data', 'Map reduce')

In [17]:
type(my_tuple)

tuple

In [18]:
my_list_for_tuple = list(my_tuple)

In [19]:
my_list_for_tuple

['hi', 'Hello', 'Python', 'Scala', 'big data', 'Map reduce']

In [20]:
type(my_list_for_tuple)

list

In [22]:
my_list = ["hi","Hello", "Python","Scala","big data"]

In [23]:
my_set ={1,2,3,1,2,3}

In [24]:
my_set

{1, 2, 3}

In [25]:
type(my_set)

set

In [26]:
my_set[0]

TypeError: 'set' object does not support indexing

In [27]:
#List => mutable  => [] or list()
#tuple => immutable => () or tuple()
#set => Wont allow duplicates => {} or set()

In [28]:
my_list = [1,2,3,10,100,10,2]

In [29]:
my_list

[1, 2, 3, 10, 100, 10, 2]

In [30]:
my_set_list = set(my_list)

In [31]:
my_set_list

{1, 2, 3, 10, 100}

## List

In [32]:
my_list = [1,2,3,4,5,6,7,8,9]

In [33]:
type(my_list)

list

In [34]:
my_list[0]

1

In [35]:
my_list[-1]

9

In [36]:
my_list[1:4]

[2, 3, 4]

In [37]:
my_list[4] = 10

In [38]:
my_list

[1, 2, 3, 4, 10, 6, 7, 8, 9]

# Tuple

In [39]:
my_tuple = (20,30,40,50,60,70)

In [40]:
my_tuple

(20, 30, 40, 50, 60, 70)

In [41]:
type(my_tuple)

tuple

In [43]:
my_tuple[0]

20

In [44]:
my_tuple[-1]

70

In [45]:
my_tuple[4] = 30 #cannot replace values in tuple

TypeError: 'tuple' object does not support item assignment

In [46]:
my_list_for_tuple = list(my_tuple) # changing tuple to list

In [47]:
my_list_for_tuple

[20, 30, 40, 50, 60, 70]

In [48]:
type(my_list_for_tuple)

list

In [49]:
my_list_for_tuple[4] = 100

In [50]:
my_list_for_tuple

[20, 30, 40, 50, 100, 70]

# Set

In [51]:
my_set = {1,2,3,4,1,2,3,4}

In [52]:
type(my_set)

set

In [58]:
my_set

{1, 2, 3, 4}

In [54]:
my_set_list =list(my_set)

In [55]:
my_set_list

[1, 2, 3, 4]

In [56]:
type(my_set_list)

list

In [ ]:
#set doesn't support indexing of elements.